
TeamCreator.xcodeproj/project.xcworkspace/xcuserdata/ozsahin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
TeamCreator.xcodeproj/project.xcworkspace/xcuserdata/ozsahin.xcuserdatad/UserInterfaceState.xcuserstate
TeamCreator.xcodeproj/xcuserdata/ozsahin.xcuserdatad/xcschemes/xcschememanagement.plist
TeamCreator.xcodeproj/project.xcworkspace/xcuserdata/cerenuludogan.xcuserdatad/UserInterfaceState.xcuserstate
